In [42]:
# import pandas

import pandas as pd

In [43]:
# importing questionnaire and questions list

df_q = pd.read_excel('./questionnaire.xlsx')

df_q_list = pd.read_excel('./Question_List.xlsx')

In [44]:
df_q.head()

,RecordID,Time Started,Date Submitted,Status,Question_and_Answer
0,1,2015-12-21 22:21:47,2015-12-21 22:21:51,Partial,- How often do you use Jupyter Notebook?\n\n- ...
1,2,2015-12-22 00:03:36,2015-12-22 00:26:01,Complete,- How often do you use Jupyter Notebook?\nDail...
2,3,2015-12-22 00:17:49,2015-12-22 00:17:49,Partial,- How often do you use Jupyter Notebook?\n\n- ...
3,4,2015-12-22 00:22:07,2015-12-22 00:24:02,Partial,- How often do you use Jupyter Notebook?\nDail...
4,5,2015-12-22 00:41:40,2015-12-22 00:42:09,Partial,- How often do you use Jupyter Notebook?\nWeek...

In [45]:
df_q_list.head()

  Question_No                                           Question
0         Q_1           - How often do you use Jupyter Notebook?
1         Q_2  - What, if anything, hinders you from making J...
2         Q_3  - Roughly how long have you been using Jupyter...
3         Q_4             - How do you run the Jupyter Notebook?
4         Q_5  - Workflow Need #1:What needs in your workflow...

In [46]:
# filtering df_q to completed surveys

df_q = df_q.loc[df_q['Status'] == 'Complete']

In [47]:
# converting Time started and Date submitted into dt

df_q['Time Started'] = pd.to_datetime(df_q['Time Started'])

df_q['Date Submitted'] = pd.to_datetime(df_q['Date Submitted'])

df_q.head()

,RecordID,Time Started,Date Submitted,Status,Question_and_Answer
1,2,2015-12-22 00:03:36,2015-12-22 00:26:01,Complete,- How often do you use Jupyter Notebook?\nDail...
5,6,2015-12-22 00:59:58,2015-12-22 01:03:39,Complete,- How often do you use Jupyter Notebook?\nWeek...
6,7,2015-12-22 01:12:07,2015-12-22 01:31:22,Complete,- How often do you use Jupyter Notebook?\nDail...
7,8,2015-12-22 01:46:34,2015-12-22 02:18:37,Complete,- How often do you use Jupyter Notebook?\nWeek...
9,10,2015-12-22 03:28:15,2015-12-22 03:59:04,Complete,- How often do you use Jupyter Notebook?\nDail...

In [48]:
# finding difference between time started and date submitted

from datetime import datetime

df_q['diff_minutes'] = (df_q['Date Submitted'] - df_q['Time Started']).dt.total_seconds() / 60

df_q

,RecordID,Time Started,Date Submitted,Status,Question_and_Answer,diff_minutes
1,2,2015-12-22 00:03:36,2015-12-22 00:26:01,Complete,- How often do you use Jupyter Notebook?\nDail...,22.416667
5,6,2015-12-22 00:59:58,2015-12-22 01:03:39,Complete,- How often do you use Jupyter Notebook?\nWeek...,3.683333
6,7,2015-12-22 01:12:07,2015-12-22 01:31:22,Complete,- How often do you use Jupyter Notebook?\nDail...,19.250000
7,8,2015-12-22 01:46:34,2015-12-22 02:18:37,Complete,- How often do you use Jupyter Notebook?\nWeek...,32.050000
9,10,2015-12-22 03:28:15,2015-12-22 03:59:04,Complete,- How often do you use Jupyter Notebook?\nDail...,30.816667
...,...,...,...,...,...,...
1700,1701,2016-01-14 14:40:59,2016-01-14 14:50:45,Complete,- How often do you use Jupyter Notebook?\nDail...,9.766667
1701,1702,2016-01-14 17:07:10,2016-01-14 17:13:17,Complete,- How often do you use Jupyter Notebook?\nDail...,6.116667
1702,1703,2016-01-14 18:07:49,2016-01-14 18:13:46,Complete,- How often do you use Jupyter Notebook?\nDail...,5.950000
1704,1705,2016-01-15 07:06:38,2016-01-15 07:10:14,Complete,- How often do you use Jupyter Notebook?\nWeek...,3.600000
1705,1706,2016-01-15 11:02:10,2016-01-15 11:05:22,Complete,- How often do you use Jupyter Notebook?\nMont...,3.200000

In [49]:
# finding min, max, and median minutes

df_q.agg(min_minutes = ('diff_minutes', 'min'), max_minutes = ('diff_minutes', 'max'), median_mintues = ('diff_minutes', 'median'))

                diff_minutes
min_minutes         0.233333
max_minutes     31647.216667
median_mintues      8.400000

In [50]:
# tokenizing question and answer on new line

df_q['Question_and_Answer'] = df_q['Question_and_Answer'].str.split(r'\n')

# exploding question and answer

df_q = df_q.explode('Question_and_Answer')

In [65]:
# assigning 1 to question on jupyter notebook frequency and answer

def record(x):

    record_id = []
    q = None
    
    for index, row in x.iterrows():
        if q == '- How often do you use Jupyter Notebook?' and '?' not in row['Question_and_Answer']:
            record_id.append(1)
        elif row['Question_and_Answer'] == '- How often do you use Jupyter Notebook?':
            record_id.append(1)
        else: record_id.append(0)
        
        q = row['Question_and_Answer']
    
    return record_id

df_q['record'] = record(df_q)

In [66]:
df_q.head()

,RecordID,Time Started,Date Submitted,Status,Question_and_Answer,diff_minutes,record
1,2,2015-12-22 00:03:36,2015-12-22 00:26:01,Complete,- How often do you use Jupyter Notebook?,22.416667,1
1,2,2015-12-22 00:03:36,2015-12-22 00:26:01,Complete,Daily,22.416667,1
1,2,2015-12-22 00:03:36,2015-12-22 00:26:01,Complete,"- What, if anything, hinders you from making J...",22.416667,0
1,2,2015-12-22 00:03:36,2015-12-22 00:26:01,Complete,Ways to hide helper function definitions (or e...,22.416667,0
1,2,2015-12-22 00:03:36,2015-12-22 00:26:01,Complete,- Roughly how long have you been using Jupyter...,22.416667,0

In [73]:
# filtering to record 1 and answer

df_q_filtered = df_q.loc[(df_q['record'] == 1) &  (~df_q['Question_and_Answer'].str.contains(r'\?'))]

In [94]:
# creating function to sum total answers then find percentage of each answer to total

def answer_breakdown(df):
    
    total_answers = df.shape[0]
    
    # find number of each answers
    
    answer_count = df.groupby('Question_and_Answer').agg({'Question_and_Answer' : 'count'})
    
    # appending total_answers to answer_count
    
    answer_count['percentage'] = (answer_count['Question_and_Answer'] / total_answers) * 100
    
    return answer_count
    
answer_breakdown(df_q_filtered)

                         Question_and_Answer  percentage
Question_and_Answer
                                           6    0.770218
Daily                                    382   49.037227
Less often than monthly                   40    5.134788
Monthly                                   71    9.114249
Weekly                                   280   35.943517