In [1]:
# import pandas

import pandas as pd

In [2]:
# sample test input

df = pd.DataFrame({'num' : ['1992']})

df

    num
0  1992

In [3]:
# padding number

df['num'] = df['num'].str.ljust(4, '0')

df

    num
0  1992

In [4]:
df['num'].apply(lambda x: pd.Series(list(x))) # example of splitting to columns

# as opposed pd.Series((df['num'].apply(list))) - this turns the entire result into a series, whereas the above creates a series after each iteration

   0  1  2  3
0  1  9  9  2

In [5]:
# splitting num to digits

df_split = df['num'].apply(list).explode().reset_index().drop(columns = ['index'])

df_split

  num
0   1
1   9
2   9
3   2

In [6]:
(''.join(df_split['num']))

'1992'

In [7]:
def Kaprekar_func(num_split):
    
    iteration_number = 0
    new_num = int(''.join(num_split))
    
    while new_num != 6174:
    
        num_descending = num_split.sort_values(ascending = False)
        num_ascending = num_split.sort_values()

        concat_descending = ''.join(num_descending)
        concat_ascending = ''.join(num_ascending)

        new_num = int(concat_descending) - int(concat_ascending)
        
        num_split = pd.Series([(digit) for digit in str(new_num).zfill(4)])
        
        iteration_number += 1
        
        print (f"iteration : {iteration_number}, num_split : {num_split}, new_num : {new_num}")
    
    return (f"iteration : {iteration_number}, num_split : {num_split}, new_num : {new_num}")

In [8]:
Kaprekar_func(df_split['num'])

iteration : 1, num_split : 0    8
1    6
2    2
3    2
dtype: object, new_num : 8622
iteration : 2, num_split : 0    6
1    3
2    5
3    4
dtype: object, new_num : 6354
iteration : 3, num_split : 0    3
1    0
2    8
3    7
dtype: object, new_num : 3087
iteration : 4, num_split : 0    8
1    3
2    5
3    2
dtype: object, new_num : 8352
iteration : 5, num_split : 0    6
1    1
2    7
3    4
dtype: object, new_num : 6174

'iteration : 5, num_split : 0    6\n1    1\n2    7\n3    4\ndtype: object, new_num : 6174'