In [1]:
# importing pandas and regex
 
import pandas as pd
import re

In [3]:
# importing data

df = pd.read_excel('./data.xlsx')

In [5]:
df.head()

,season,episode,title,scene,character,line
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...
1,1,1,Pilot,1,Jim,"Oh, I told you. I couldn't close it. So..."
2,1,1,Pilot,1,Michael,So you've come to the master for guidance? Is ...
3,1,1,Pilot,1,Jim,"Actually, you called me in here, but yeah."
4,1,1,Pilot,1,Michael,"All right. Well, let me show you how it's done."

In [20]:
# filtering to character Michael

df_filtered = df.loc[df['character'].str.contains('Michael', case = False)]

df_filtered.head()

,season,episode,title,scene,character,line
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...
2,1,1,Pilot,1,Michael,So you've come to the master for guidance? Is ...
4,1,1,Pilot,1,Michael,"All right. Well, let me show you how it's done."
5,1,1,Pilot,2,Michael,"Yes, I'd like to speak to your office manager,..."
6,1,1,Pilot,3,Michael,"I've, uh, I've been at Dunder Mifflin for 12 y..."

In [21]:
# Determine in how many seasons the character Michael appeared

df_filtered['season'].nunique()

8

In [22]:
# Determine in how many episodes the character Michael appeared

df_filtered.groupby('season')['episode']\
.nunique()\
.sum()

137

In [23]:
# Find out, based on the provided dataset, how many lines the character Michael had

df_filtered.agg({'line' : 'count'})

line    10904
dtype: int64

In [36]:
# Find out, based on the provided dataset, how many words the character Michael had

df_filtered['line'].apply(lambda x: re.split(r'[\s]+', x)).explode().count()

147906

In [66]:
# doing this all in a function

def answers(x):
    x_filtered = x.loc[x['character'].str.contains('Michael', case = False)]
    
    seasons = x_filtered['season'].nunique()
    episodes = x_filtered.groupby('season')['episode'].nunique().sum()
    lines = int(x_filtered.agg({'line' : 'count'}))
    words = x_filtered['line'].apply(lambda line: re.split(r'[\s]+', line)).explode().count()
    
    result = (f'number of seasons: {seasons}\n'
            f'number of episodes: {episodes}\n'
            f'number of lines: {lines}\n'
            f'number of words: {words}'
           )
    
    return result

output = answers(df)

C:\Users\CharlesYi\AppData\Local\Temp\ipykernel_32520\888963290.py:8: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  lines = int(x_filtered.agg({'line' : 'count'}))

In [67]:
print(output)

number of seasons: 8
number of episodes: 137
number of lines: 10904
number of words: 147906